body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2)),
  url("Src/15681.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.exercise-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

.buttons-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;

}

.back-button {
  margin-right: 75%;
}

textarea {
  border: 1px solid rgb(197, 197, 197);
  width: 80%;
  height: 200px;
  padding: 10px;
  margin-top: 20px;
}

.console-output {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  text-align: left;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 5px;
  background-color: #04AA6D;
  color: white;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Adjust the margin as needed */
}

/* Styling for the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  }

#output .log,
#output .error {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Consolas", "Monaco", "Courier New", monospace;
}
.log {
  color: black;
}
.error {
  color: red;
}